@model WorkShop.Web.ViewModels.UserViewModel

<h1>@Html.DisplayFor(x => x.Username)</h1>

@Html.DisplayNameFor(x => x.Email): @Html.DisplayFor(x => x.Email)
<br/>
@Html.DisplayNameFor(x => x.FullName): @Html.DisplayFor(x => x.FullName)
